@page "/"

<AuthorizeView>
    <NotAuthorized>
        <h1>
            Username: user | Password: 1234<br>
            Username: admin | Password: 1234<br>
        </h1>
    </NotAuthorized>
</AuthorizeView>

